**/target
**/.env
**/.vscode
.env
bot/bot
bot/bot.new
webserver/webserver
webserver/webserver.exe
**/.DS_Store
**/*config.yaml
**/*-config.yaml
**/*config.yaml.sample
**/*-config.yaml.sample
**/*.tar.gz
dist
config.yaml
ROADMAP.md